NODE_ENV=development
DEBUG=app:scope
DEBUG_COLORS=true
PORT=3001

DB_CONNECTION_TYPE=tcp
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=your-gcp-email-shorthand
DB_NAME=student_progress

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TTL_SECONDS=86400 # 1 day